nav a {
  color: #007db3;
  font-family: "Trebuchet MS", arial, helvetica, sans-serif;
  line-height: 2em;
  text-decoration: none;
}

nav a:hover {
  font-weight: bold;
}

nav li {
  list-style-type: none;
}

#hero-image {
  float: left;
  margin-right: 30px;
  margin-left: 20%;
}

header #title {
  margin: 0;
  padding-top: 100px;
  padding-left: 5px;
  font-size: 40px;

}

h1 {
  color: #000;
  font-family: "Trebuchet MS", arial, helvetica, sans-serif;
}

#icon {
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

mark {
  background: #F8F8F8;
}

mark:hover {
  background: #D3D3D3;
  cursor: pointer;
}

p {
  margin: 3% 20%;
}